.app-wrapper {
    margin: auto;
    width: 800px;
    display: grid;
    grid-template-areas:
    "h h"
    "n c"
    "f f";
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 7fr ;
}

.header {grid-area: h; background-color: #d0ffd4; padding: 1%;}
.navbar {grid-area: n; background-color: #d9cb9a; padding: 8%}
.profile {grid-area: c; background-color: #aeaef3; padding: 1%}
.footer {grid-area: f; background-color: #d0ffd4; padding: 1%}
.dialogs {background-color: #aeaef3; padding: 1%; display: grid; grid-template-columns: 1fr 4fr; }

.AvaUser img {width: 8%; padding: 1%;}

.navbar .active {
    color: #d800e7;
}
.navbar a {
    color: #000000;
    text-decoration: none;
}

.name a {
    text-decoration: none;
    color: white;
}
.name .active {
    color: #092aff;
}